@use 'variables' as *;

h1 {
  color: $primary;
}

app-footer {
  position: fixed;
  left: 0;
  top: 0;
}

#main-content {
  margin-top: 96px;
}

@media(min-width:2300px) {
  .responsive4k {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #main_content {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    // margin-left: clamp(180px, 16.1vw, 232px);
  }
}


.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

// @media (max-width: 936px) {
//     #main_content {
//         margin-top: 70px;
//     }
// }