@use 'variables' as *;

h1{
    color: $primary;
}

app-footer {
    position: fixed;
    left: 0;
    top: 0;
}

#main_content {
    margin-top: 96px;
    // margin-left: clamp(180px, 16.1vw, 232px);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1)
}