$primary: #2a3647;
$secondary: #29abe2;
$secondary-bg: #f6f7f8;
$white: rgb(255, 255, 255);
$darkblue: #091931;
$menu-button-hover: #2a3d59ff;
$nav-button: #cdcdcd;
$black: #000000;
$greyish: #e2e6ec;
$red: #e6052a;
$board-blue: #0038ff;
$board-green: #1fd7c1;
