@use 'variables' as *;

.column_header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 8px;
  min-height: 32px;
}

.add_column_btn {
  background: transparent;
  border: none;
  padding: 6px;
  transition: filter 200ms ease-in-out;
  width: 24px;
  height: 24px;
  visibility: visible;
  img {
    width: 24px;
    height: 24px;
    display: block;

    &:hover {
      filter: brightness(0) saturate(100%) invert(67%) sepia(75%) saturate(533%) hue-rotate(169deg)
        brightness(95%) contrast(90%);
    }
  }
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
  line-height: 1;
}

.example_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  height: calc(100vh - 300px);
}

.example_list {
  border: solid 1px #000000;
  height: 680px;
  min-height: 60px;
  background: transparent;
  border: none;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  scrollbar-gutter: stable;
  padding-right: 10px;
}
