@use 'variables' as *;

.line {
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    margin: 16px 0;
}



.info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    >.img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-left: 4px;
        margin-right: 24px;
        width: 48px;
        height: 48px;
        background-color: #c4c4c4;
        border-radius: 128px;
    }

    >div {
        display: flex;
        flex-direction: column;

        >.gap {
            display: flex;
            gap: 8px;
        }
    }
}

button {
    top: 120px;
    position: fixed;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: $primary;
    color: white;
    padding: 8px 40px;
    font-size: 21px;
    font-weight: 700;

    >img {
        margin-left: 8px;
        width: 24px;
        height: 24px;
        background-color: #c4c4c4;
    }
}

span {
    padding-left: 24px;
    margin-bottom: 16px 0;
}

.space {
    margin-top: 100px;
}

section {
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 96px);
    margin-left: clamp(180px, 16.1vw, 232px);
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.d_none{
    display: none;
}