@use 'variables' as *;

.background_new_contact {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 24px 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  margin: 16px 0;
}

.info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 8px;

  &:hover {
    background-color: #f6f6f6;
    border-radius: 16px;
    cursor: pointer;
  }

  > .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 4px;
    margin-right: 24px;
    width: 48px;
    height: 48px;
    background-color: #ffa500;
    color: white;
    border-radius: 128px;
    border: 2px solid white;
  }

  > div {
    display: flex;
    flex-direction: column;

    > .gap {
      display: flex;
      gap: 8px;
    }
  }
}

.link,
.surname,
.lastname {
  word-break: break-all;
}

button {
  position: inherit;
  border: none;
  border-radius: 8px;
  background-color: $primary;
  color: white;
  padding: 8px 40px;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #29abe2;
  }

  > img {
    margin-left: 8px;
    width: 24px;
    height: 24px;
  }
}

span {
  padding-left: 22px;
  margin: 16px;
}

.space {
  margin-top: 25px;
}

section {
  box-sizing: border-box;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 96px);
  margin-left: clamp(180px, 16.1vw, 232px);
  padding: 0 24px;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // overflow: auto;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (max-width: 936px) {
  section {
    height: calc(100vh - 152px);
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  section {
    height: calc(100vh - 152px);
    padding: 8px;
  }

  .line {
    margin: 8px 0;
  }

  .background_new_contact {
    top: -10px;
  }
}

@media (max-width: 700px) {
  .background_new_contact {
    position: fixed;
    > button {
      color: transparent;
      font-size: 0;
      border-radius: 100px;
      height: 125px;
      bottom: 150px;
      right: 100px;
      > img {
        width: 50px;
        height: 50px;
      }
    }
  }

  section {
    height: calc(100vh - 152px);
  }

  .info {
    padding: 8px;
    margin: 24px 0;
  }

  span {
    padding-left: 14px;
    margin: 16px;
  }
}

.d_none {
  display: none;
}

.highlighted {
  background-color: $primary;
  border-radius: 16px;
  padding: 8px;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: $primary;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    color: white;
  }

  > .link {
    color: #1184ee;
  }
}
