@use 'variables' as *;

.main_container {
  margin: 190px 100px 30px 320px;
}

.privacy_headline {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header_back_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

a {
  color: $secondary;
}

a:hover {
  text-decoration: underline;
}

.back_btn {
  cursor: pointer;
  padding-right: 20px;
}

ul {
  padding-left: 24px;
  margin-top: 6px;
}

li {
  margin-left: 0;
}

b,
strong {
  display: block;
  margin-top: 10px;
}

span {
  color: $secondary;
}

strong {
  padding-top: 20px;
}

.date {
  margin-bottom: 10px;
}

@media (max-width: 936px) {
  .main_container {
    margin: 100px 20px 120px 20px;
  }
}

@media (max-width: 540px) {
  .main_container {
    margin: 100px 20px 100px 20px;
  }
}

@media (max-width: 460px) {
  .privacy_headline {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .privacy_headline {
    font-size: 32px;
  }
}
