@use 'variables' as *;

:host {
  display: block;
  min-height: 100vh;
  background-color: $secondary-bg;
}

.board_container {
  margin-left: 220px;
  padding-top: 26px;
  background-color: $secondary-bg;
}

.board_header_wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 50px 0 50px;
  margin: 220px 0 60px 0;
}

.board_header {
  // max-width: 1056px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_title {
  font-weight: 700;
  font-size: 61px;
  color: $black;
}

.search_controls {
  display: flex;
  align-items: center;
  gap: 20px;

  .search_bar {
    position: relative;
    width: 280px;
    height: 48px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    align-items: center;
    padding-left: 16px;

    .search_input_wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 8px 16px;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      font: 400 20px 'Inter', sans-serif;
      padding-right: 52px;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        color: #d1d1d1;
      }
    }

    .divider {
      position: absolute;
      right: 56px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: #a8a8a8;
      pointer-events: none;
    }

    .search_icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      img {
        display: block;
        width: 22px;
        height: 22px;
      }
    }
  }
}

.add_task_btn {
  width: 160px;
  height: 48px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: $darkblue;
  color: white;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.plus_icon {
  font-size: 20px;
  line-height: 1;
}

.add_task_btn:hover {
  background-color: $secondary;
  border-color: $secondary;
}

.content_container {
  max-width: 2000px;
  margin: 0 50px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.column_wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.column_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4px;

  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: #42526e;
  }
}

.add_btn {
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}

.add_btn:hover img {
  filter: brightness(0) saturate(100%) invert(62%) sepia(98%) saturate(748%) hue-rotate(164deg)
    brightness(96%) contrast(97%);
}

.add_task_frame {
  position: absolute;
  top: 10vh;
  left: 15vw;
  border-radius: 24px;
  padding: 16px;
  transition: all 400ms ease-in-out;
  ::ng-deep app-add-task section {
   padding: 55px;
   border-radius: 24px;
   margin-left:0;
   margin-top:0;
  }
}

.overlay {
  width: calc(100vw - 15px);
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.show {
  display: flex;
  opacity: 1;
}

.hide {
  display: none;
  opacity: 0;
}

.column_body {
  background: #ffffff;
  padding: 12px;
  border-radius: 12px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.no_tasks {
  width: 100%;
  padding: 12px;
  background: #e7e7e7;
  border-radius: 8px;
  text-align: center;
  color: #9a9a9a;
  font-size: 14px;
  border: 1px dashed #c3c3c4;
}

.btn_placeholder {
  height: 24px;
}

// drag-drop
.example_list {
  border: solid 1px #000000;
  // height: 680px;
  min-height: 60px;
  background: transparent;
  border: none;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.example_box {
  padding: 12px 16px 12px 12px;
  margin-bottom: 12px;
  background: white;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: move;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 290px;
  max-height: 260px;
  overflow: hidden;
}

// content of cards
.task_category {
  padding: 4px 12px;
  margin-bottom: 8px;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  width: fit-content;
}

.task_category.TechnicalTask {
  background-color: $board-green;
}

.task_category.UserStory {
  background-color: $board-blue;
}

.task_title {
  margin: 16px 0 8px 0;
  font: 700 16px;
  color: $primary;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.task_description {
  margin: 0 0 18px 0;
  font: 400 16px;
  color: #a8a8a8;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.priority_icon {
  img {
    width: 20px;
    height: 20px;
  }
}

.subtasks_line {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 8px;

  .subtasks_bar {
    width: 60%;
    height: 8px;
    background: #f4f4f4;
    margin-right: 8px;
    border-radius: 16px;

    .subtasks_progress {
      height: 100%;
      background: #4589ff;
      border-radius: 16px;
    }
  }

  .subtasks_count {
    color: black;
    display: flex;
    gap: 10px;
  }
}

.task_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initials {
  width: 10px;
  height: 10px;
  background-color: #4589ff;
}

.plus_icon_responsive {
  display: none;
}

.cdk-drag-preview {
  cursor: grabbing !important;
}

.cdk-drag {
  cursor: grab;
}

.cdk-drag:active {
  cursor: grabbing;
}

.cdk-drop-list {
  cursor: grabbing;
}

@media (max-width: 1440px) {
  .board_container {
    padding: 60px 20px 96px 20px;
    margin-right: 0;
  }

  .board_container {
    padding-top: 20px;
  }

  .board_header_wrapper {
    padding: 0;
  }

  .content_container {
    margin: 0;
  }

  .example_list {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 1050px) {
  .board_container {
    padding: 0 20px 96px 20px;
  }

  .content_container {
    flex-direction: column;
    gap: 32px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .add_btn img {
    width: 30px;
    height: 30px;
  }

  .add_btn {
    padding: 0;
  }

  .column_wrapper {
    max-width: 100%;
    min-width: 100%;
  }

  .column_header {
    padding: 10px 0;
  }

  .example_list {
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .example_list::-webkit-scrollbar {
    display: none;
  }

  .example_box {
    flex: 0 0 240px;
    width: 240px;
    max-width: 240px;
    scroll-snap-align: start;
    height: 220px;
    max-height: 220px;
  }

  .add_task_btn {
    display: none;
  }

  .plus_icon_responsive {
    display: block;
  }

  .board_header {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
    width: 100%;
    gap: 20px;
  }

  .board_header_wrapper {
    padding: 20px 0;
    margin-bottom: 0;
  }

  .title_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .plus_icon_responsive {
    display: block;
  }

  .column_header h2 {
    font-size: 34px;
  }

  .search_controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search_bar {
    width: 100% !important;
    min-width: 0 !important;
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
  }

  .search_input_wrapper {
    padding: 0;
  }

  input {
    width: 100%;
    padding-right: 48px;
  }

  .search_icon {
    position: absolute;
    right: 16px;
  }
}

@media (max-width: 936px) {
  .board_container {
    margin-left: 0;
  }

  .board_header_wrapper {
    margin-top: 120px;
  }

  .board_header {
    gap: 40px;
  }

  @media (max-width: 336px) {
    .column_header h2 {
      line-height: 1;
    }
  }
}
