div{
    padding-left: 300px;
    background-color: black;
    color: whitesmoke;
}

button{
    margin-left: 300px;
    height: 75px;
    width: 124px;
    background-color: black;
    color: whitesmoke;
}

.d_none{
    display: none;
}
.hide{
    display: none;
}
.show{
    display: flex;
}