@use 'variables' as *;

.navbar_container {
  min-height: 100dvh;
  height: auto;
  width: clamp(180px, 16.1vw, 232px);
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;
  align-items: stretch;

  .logo_and_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 114px;

    .logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo_join {
      width: 70%;
      height: 70%;
    }

    .menu_elements {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .nav_link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10.5px;
        color: $nav-button;
        font-size: 16px;
        padding: 8px 0;
        width: 100%;
        text-align: center;

        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }

        span {
          flex: 1;
        }

        &:hover {
          background-color: $menu-button-hover;
        }

        &.active {
          background-color: $darkblue;
          color: $white;

          img {
            filter: brightness(150%);
          }
        }
      }
    }
  }

  .legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    a {
      color: $nav-button;
      font-size: 16px;
      font-weight: 400;
      padding: 9px 0;
      text-align: center;
      cursor: pointer;
      width: 100%;

      &:hover {
        color: $secondary;
      }

      &.active {
        background-color: $darkblue;
        color: $white;
      }
    }
  }
}
