@use 'variables' as *;

.navbar_container {
  min-height: 100dvh;
  height: auto;
  width: clamp(180px, 16.1vw, 232px);
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;

  .logo_and_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px;

    .logo {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .menu_elements {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .nav_link {
        display: flex;
        align-items: center;
        gap: 10.5px;
        color: $nav-button;
        text-decoration: none;
        font-size: 16px;
        padding: 8px 0 8px 26%;
        width: 100%;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }

        span {
          flex: 1;
        }

        &:hover {
          background-color: $menu-button-hover;
        }

        &.active {
          background-color: $darkblue;
          color: $white;

          img {
            filter: brightness(150%);
          }
        }
      }
    }
  }

  .legal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;

    a {
      color: $nav-button;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      width: 100%;
      padding: 9px 0 9px 26%;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }

      &.active {
        background-color: $darkblue;
        color: $white;
      }
    }
  }
}
