@use 'variables' as *;

.limitation {
  max-width: 1920px;
}

.login_icon {
  .nav_link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $nav-button;
    font-size: 16px;
    padding: 8px 0 8px 20%;
    width: 100%;
    text-align: left;

    img {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
    }

    span {
      text-align: left;
    }

    &:hover {
      background-color: $menu-button-hover;
    }

    &.active {
      background-color: $darkblue;
      color: $white;

      img {
        filter: brightness(150%);
      }
    }
  }
}

.legal_logged_out {
  display: none;
}

.navbar_container {
  min-height: 100dvh;
  height: auto;
  width: clamp(180px, 16.1vw, 232px);
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;
  align-items: stretch;
  z-index: 103;

  .logo_and_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 114px;

    .logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo_join {
      width: 70%;
      height: 70%;
    }

    a {
      cursor: pointer;
    }

    .menu_elements {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .nav_link {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $nav-button;
        font-size: 16px;
        padding: 8px 0 8px 20%;
        width: 100%;
        text-align: left;

        img {
          width: 25px;
          height: 25px;
          flex-shrink: 0;
        }

        span {
          text-align: left;
        }

        &:hover {
          background-color: $menu-button-hover;
        }

        &.active {
          background-color: $darkblue;
          color: $white;

          img {
            filter: brightness(150%);
          }
        }
      }
    }
  }

  .legal {
    display: flex;
    flex-direction: column;
    gap: 4px;

    a {
      color: $nav-button;
      font-size: 16px;
      font-weight: 400;
      padding: 9px 0 9px 20%;
      text-align: left;
      cursor: pointer;
      width: 100%;

      &:hover {
        color: $secondary;
      }

      &.active {
        background-color: $darkblue;
        color: $white;
      }
    }
  }
}

@media (max-width: 936px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    min-height: fit-content;
    width: 100vw;
    z-index: 4;
    padding: 0;

    .logo_and_menu {
      height: 100%;
      width: 100%;

      .logo {
        display: none;
      }

      .menu_elements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 40px;

        .nav_link {
          border-radius: 13px;
          width: auto;
          height: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 16px;

          img {
            width: 22px;
            height: 22px;
          }

          span {
            flex: 0;
          }
        }
      }
    }

    .legal {
      display: none;
    }

    .logged_out_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 16px;
    }

    .logged_out_bar .legal_logged_out {
      display: flex;
      align-items: stretch;
      height: 100%;
      gap: 20px;
    }

    .logged_out_bar .legal_logged_out a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 13px;
      font-size: 16px;
      white-space: nowrap;
      width: auto;
      height: 100%;
      color: $nav-button;
    }

    .logged_out_bar .legal_logged_out a.active {
      background-color: $darkblue;
      color: $white;
    }

    .login_icon .nav_link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    .legal_logged_out {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (max-width: 540px) {
  .navbar_container .logo_and_menu .menu_elements {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 0;
  }

  .navbar_container .logo_and_menu .menu_elements .nav_link {
    flex: 1;
    height: 100%;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }

  .navbar_container .logo_and_menu .menu_elements .nav_link.active {
    padding: 13px 0 !important;
  }

  .navbar_container {
    height: 70px;
  }
}

@media (max-width: 400px) {
  .navbar_container .logged_out_bar {
    white-space: nowrap;
    padding: 0 0 0 20px;
  }

  .logged_out_bar .login_icon a {
    font-size: 14px;
  }

  .logged_out_bar .legal_logged_out a {
    font-size: 14px !important;
  }
}

@media (max-width: 350px) {
  .logged_out_bar .legal_logged_out a {
    padding: 10px 20px;
  }

  .navbar_container .logged_out_bar .legal_logged_out {
    gap: 0;
  }
}

@media (min-width: 2300px) {
  .limitation {
    position: absolute;
    left: calc(50vw - 232px * 2.7);
  }
}
