@use 'variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.task_details {
  width: 420px;
  // max-height: 85vh;
  background: $white;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.close_btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close_btn {
  border: none;
  background: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 0;

  img {
    width: 20px;
    height: 20px;
  }
}

.edit_fields {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.btn_footer {
  padding-top: 10px;
}

.ok_btn_container {
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  bottom: 0;
  margin-top: 16px;
}

.ok_btn {
  background-color: #2a3647;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.ok_btn:hover {
  background-color: $secondary;
}

#ok_check {
  width: 12px;
  height: 10px;
}

.prio_text {
  font-size: 14px;
  font-weight: bold;
}

.subtasks {
  display: flex;
  flex-direction: column;
}

.edit_view_container {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
}

.edit_fields {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}
