@use 'variables' as *;

#contact_details {
    height: calc(100vh - 96px);
    padding-top: 120px;
    padding-left: 40px;
    background-color: #f6f7f8;
}

#details_head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#headline_span {
    font-size: 64px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);   
}

#slogan_span {
    font-size: 27px;
}

#profile_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 120px;
    height: 120px;
    border: 3px solid white;
    border-radius: 100px;
    color: $white;
    font-size: 47px;
    font-weight: 500;
}

#contact_details_name {
    display: flex;
    align-items: center;
    gap:32px;
    margin: 24px 0;
    font-size: 47px;
    font-weight: 500;
}

hr {
    width: 0px;
    height: 64px;
    border: 2px solid $secondary;
    margin: 0 16px;
    border-radius: 8px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
}

h4 {
    margin: 16px 0;
    font-size: 16px;
}

p {
    font-size: 16px;
}

a {
    color: rgba(0, 124, 238, 1);
}



button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    >img {
        width: 24px;
        height: 24px;
    }
    &:hover {
        font-weight: 700;
        color: $secondary
    }
}

#contact_details_button {
    display: flex;
    gap: 32px;
}

.contact {
    width: 200px;
    background-color: $secondary;
    border-radius: 32px;
    margin: 32px;
    padding: 16px;
}

.d_none {
    display: none;
}

.slide_in {
    animation: slideIn 0.4s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    inset: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1236px) {
    #details_head {
        display: block;
    }

    hr {
        position: relative;
        top: 40px;
        width: 120px;
        height: 0px;
        border: 2px solid $secondary;
        margin: 0;
        border-radius: 8px;
    }

    #contact_details {
        padding-left: 16px;
    }

    #contact_content_div span{
        font-size: 36px;        
    }
}

@media (max-width: 936px) {
    #contact_details {
        padding-top: 120px;

    }
}