@use 'variables' as *;

section {
    width: 100%;
    height: 100vh;
    background-color: #f6f7f8;

    >.frame-logo {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: all 700ms ease-in-out;
        z-index: 100;

        >img {
            width: 200px;
            aspect-ratio: 1/1;
            transition: all 700ms ease-in-out;
        }
    }
}

div {
    color: black;
}

.rePositioning {
    width: 25% !important;
    height: 25% !important;
    aspect-ratio: 1/1;
    background-color: transparent;

    img {
        width: 100px !important;
    }
}

.frame-login {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame-signup {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-btn {
    background-color: #2a3647;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 120ms ease-in-out;

    &:hover {
        background-color: #29abe2;
        border: none;
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
    }
}

.guest-login-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 120ms ease-in-out;

    &:hover {
        color: #29ABE2;
        border: 1px solid #29abe2;
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
    }
}

.login {
    margin-top: 75px;
    background: white;
    height: 50%;
    width: 50%;
    max-width: 600px;
    padding: 24px;
    border-radius: 24px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.085));
}

.signup {
    margin-top: 75px;
    background: white;
    height: 75%;
    width: 50%;
    max-width: 600px;
    padding: 24px;
    border-radius: 24px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.085));

    >img {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 24px;
        aspect-ratio: 1/1;
        cursor: pointer;
        padding: 4px;

        &:hover {
            background-color: #eeeeee;
            border-radius: 100px;
        }
    }
}

.head-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    margin-bottom: 24px;

    >h1 {
        font-size: 56px;

        >hr {
            margin-top: 30px;
            margin-left: 16px;
            margin-right: 16px;
            border: 1px solid #29abe2;
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.input-group {
    max-width: 600px;
    width: 60%;
    position: relative;

    >input {
        max-width: 500px;
        height: 40px;
        border-radius: 8px;
        padding-left: 16px;
        font-size: 16px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.input-group .input-icon {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.error_msg {
    color: $red;
    position: relative;
    top: -20px;
}

.error_msg_signup {
    color: $red;
    position: relative;
    top: -10px;
    margin: -10px;
}

.margin-bottom {
    margin-bottom: -4px;
}

.row {
    width: 42% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.text {
    width: 500px;

    >a {
        color: #29ABE2;
    }
}

.red-border {
    border: 1px solid red !important;
}

.checkbox {
    width: 18px !important;
    cursor: pointer;
    margin-right: 16px;
}

.pointer {
    cursor: pointer;
}

.signup-btn {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
}

.login-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
}

.sign-up {
    position: absolute;
    top: 64px;
    right: 48px;
    gap: 32px;
    display: flex;
    align-items: center;

    >.sign-up-btn {
        background-color: #2a3647;
        color: white;
        font-weight: 700;
        padding: 16px 24px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: all 120ms ease-in-out;

        &:hover {
            background-color: #29abe2;
            border: none;
            filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
        }
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    >a {
        width: 140px;
        font: 400;
        font-size: 18px;
        color: #a8a8a8;
        padding-bottom: 0px;
        text-align: center;

        &:hover {
            font-weight: 700;
            color: #29ABE2;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f6f7f8;
    animation: overlayFade 1000ms ease-in-out 300ms forwards;
}

@keyframes overlayFade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.dark {
    position: absolute;
    opacity: 1;
}

.light {
    position: absolute;
    opacity: 0;
}

@keyframes logoAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media(max-width:936px) {
    .light {
        position: absolute;
        opacity: 1;
        animation: logoAnim 700ms ease-in-out 300ms forwards;
    }

    section {
        >.frame-logo {
            padding-left: 0;

            >img {
                width: 100px;
            }
        }
    }

    .rePositioning {
        padding-left: 48px !important;
    }

    .overlay {
        background-color: #2a3647;
    }
}