section {
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 127, 206);
    
    >.frame-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 700ms ease-in-out;
        >img {
            width: 150px;
            aspect-ratio: 1/1;
        }
    }
}

.rePositioning {
    width: 25% !important;
    height: 25% !important;
    background-color: transparent;
}

.dark {
    position: absolute;
    opacity: 1;
}

.light {
    position: absolute;
    opacity: 1;
    animation: logoAnim 700ms ease-in-out 300ms forwards;
}

@keyframes logoAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

button {
    border-radius: 100px;
    width: 300px;
    height: 100px;
    background-color: red;
    color: wheat;
}