div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

button{
    border-radius: 100px;
   width: 300px;
   height: 100px;
   background-color: red;
   color: wheat;
}