@use 'variables' as *;

.help_container {
  margin-top: 100px;
  margin-left: 320px;
}

.help_headline {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header_back_btn {
  display: flex;
  justify-content: space-between;
}

.back_btn {
  cursor: pointer;
  padding-right: 30px;
}

.welcome {
  padding-bottom: 20px;
}

b {
  color: $secondary;
}

.help_container ol li::marker {
  font-weight: bold;
}

@media (max-width: 1120px) {
  .help_container {
    padding: 96px 30px 20px 295px;
  }
}

@media (max-width: 936px) {
  .back_btn {
    padding-right: 20px;
  }

  .help_container {
    padding: 72px 16px 0 16px;
  }
}
