@use 'variables' as *;

.help_container {
  margin-top: 190px;
  margin-left: 320px;
  margin-right: 100px;
}

.help_headline {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header_back_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.back_btn {
  cursor: pointer;
  padding-right: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

p .welcome {
  margin: 0 !important;
}

.join {
  color: $secondary;
}

strong {
  font-size: 18px;
}

.remember {
  padding-left: 24px;
}

.enjoy {
  margin-bottom: 30px;
}

.help_container ol {
  list-style: none;
  counter-reset: step;
  padding-left: 0;
  margin-left: 0;
}

li {
  margin-top: 20px;
}

.help_container ol li {
  counter-increment: step;
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
  align-items: end;
}

.help_container ol li::before {
  content: counter(step) '.';
  font-weight: 800;
  font-size: 28px;
  line-height: 0.5;
  grid-column: 1;
}

.help_container ol li > * {
  grid-column: 2;
  margin-top: 0;
}

.mail {
  color: black;
}

.mail:hover {
  text-decoration: underline;
}

@media (max-width: 936px) {
  .back_btn {
    padding-right: 20px;
  }

  .help_container {
    padding: 72px 16px 0 16px;
  }
}
