@use 'variables' as *;

.help_container {
  margin: 190px 100px 0 320px;
}

.help_headline {
  font-size: 60px;
  margin: 40px 0 20px 0;
}

.header_back_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.back_btn {
  cursor: pointer;
  padding-right: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

p .welcome {
  margin: 0 !important;
}

.join {
  color: $secondary;
}

p {
  font-size: 16px;
}

strong {
  font-size: 18px;
}

.remember {
  padding-left: 56px;
  margin-top: 30px;
}

.enjoy {
  margin-bottom: 30px;
}

.help_container ol {
  list-style: none;
  counter-reset: step;
  padding-left: 0;
  margin-left: 0;
}

li {
  margin-top: 20px;
}

.help_container ol li {
  counter-increment: step;
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
  align-items: end;
}

.help_container ol li::before {
  content: counter(step) '.';
  font-weight: 800;
  font-size: 28px;
  line-height: 0.5;
  grid-column: 1;
}

.help_container ol li > * {
  grid-column: 2;
  margin-top: 0;
}

.mail {
  color: black;
}

.mail:hover {
  text-decoration: underline;
}

.text {
  font-size: 16px;
}

@media (max-width: 936px) {
  .help_container {
    margin: 100px 20px 120px 20px;
  }
}

@media (max-width: 540px) {
  .help_container {
    margin: 100px 20px 100px 20px;
  }
}

@media (min-width: 2300px) {
  .help_container {
    margin-left: 300px;
    width: 800px;
    margin-top: 120px;
    height: calc(100vh - 96px);
    overflow-y: auto;
    padding-bottom: 20px;
  }
}
