@use 'variables' as *;

button {
  cursor: pointer;
}

#edit_contact {
  width: 1300px;
  height: 550px;
  display: flex;
  margin: 64px;
  
  border-radius: 32px;
}

#overlay_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  background-color: $primary;
  color: $white;
  flex: 1;
  border-radius: 28px 0 0 28px;
  > img {
    width: 55px;
    height: 66px;
  }
  > h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 16px 0;
    line-height: 48px;
  }
  > p {
    font-size: 21px;
  }
  > hr {
    height: 0;
    width: 100px;
    border: 2px solid $secondary;
  }
}

#overlay_right {
  display: flex;
  flex-direction: column;
  flex: 2;
  background: white;
  border-radius: 0 32px 32px 0;
}

#close_button {
  position: absolute;
  margin-top: 48px;
  margin-right: 48px;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  > img {
    width: 24px;
    height: 24px;
  }
}

#contact_form_div {
  display: flex;
  flex-direction: column;
}

#profile_picture {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: $white;
    font-size: 47px;
    font-weight: 500;
}

#overlay_right_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 32px;
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > input {
    width: 422px;
    height: 50px;
    border-radius: 8px;
    padding-left: 8px;
    font-size: 20px;
    border: 1px solid #D1D1D1;
  }
}

#form_buttons {
  display: flex;
  gap: 32px;
}

#submit_button {
  width: 214px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background-color: $primary;
  color: $white;
  font-size: 21px;
  font-weight: 700;
  border: none;
}

#close_button_white {
    display: none;
    position: relative;
    top: -180px;
    align-self: flex-end;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    >img {
        width: 24px;
        height: 24px;
    }
}

#cancel_button {
    width: 126px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 400;
    color: black;
    font-size: 21px;
    border-radius: 10px;
    border: 1px solid #2A3647;
}

.error_msg {
  color: $red;
}

@media(max-width:1420px) {
    #edit_contact {
        width: 900px;
    }
}


@media(max-width:936px) {
    #edit_contact {
        width: auto;
        height: 666px;
        flex-direction: column;
        margin:0;
    }

    #overlay_left {
        height: 180px;
        padding-left: 8px;
        border-radius: 28px 28px 0 0 ;
        justify-content: center;
        align-items: flex-start;
        flex: none;
        >h2 {
            font-size: 47px;
            
        }
    }

    #overlay_right {
        flex: none;
        border-radius: 0 0 32px 32px ;
        align-items: center;
    }

    #contact_form_div {
        width: 100%;
        align-items: center;
    }

    form {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative ;
        top: -70px;
        >input {
            width: 300px;
            height: 40px;
            border-radius: 8px;
            padding-left: 8px;
            font-size: 16px;
        }
    }

    #profile_picture {
        position: relative;
        top: -116px;
        height: 120px;
        width: 120px;
        border: 2px solid white;
    }

    #overlay_right_content {
        flex-direction: column;
        align-items: center;
        gap: 0;
        flex: none;
    }

    #join_logo {
        display: none;
    }

    hr {
        position: relative;
        top: -20px;
    }

    #close_button {
        display: none;
    }

    #cancel_button {
        width: 80px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 16px;
    }

    #submit_button {
        width: auto;
        height: 50px;
        padding: 0 16px;
        font-size: 20px;
        margin-top: 16px;
    }

    @media(max-width:400px) {
        #edit_contact {
            height: 666px;
            margin:0;
        }
    }

}
