@use 'variables' as *;

section {
    margin-left: 300px;
    margin-top: 150px;
}

.summary_content {
    display: flex;
    align-items: center;
}

.task_overview {
    display: flex;
    flex-direction: column;
}

.section_header {
    display: flex;
    align-items: center; 
    >hr {
        color: $secondary;
        width: 1px;
        margin: 0 10px;
        align-self: stretch;
    }
}

.headline {
    font-size: 61px;
    font-weight: 700;
    line-height:normal;
}

.slogan {
    font-size: 27px;
}

.task_overview {
    display: flex; 
    margin-top: 32px;
} 

.top_row_window {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: all 150ms ease-in-out;
    &:hover {
        scale: 1.05;
        background: $primary;
        color: white;
        .edit_icon {
            background-color: white;
            img {
                filter: invert(1)
            }
        }
        .check_icon {
            background-color: white;
            img {
                filter: invert(1)
            }
        }
    }
    .edit_icon {
    width: 69px;
    height: 69px;
    background: $primary;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
        padding: 8px;
    }
}
}

.top_row_overview {
    display: flex;
    justify-content: space-between;
}



.check_icon {
    width: 69px;
    height: 69px;
    background: $primary;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
        width: 50px;
        height: 50px;
        padding: 8px;
    }
}

.to_do_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
    }
}

.middle_row_overview {
    width: 100%;
    display: flex;
    margin-top: 32px;
}

.upcoming_deadline {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    padding: 16px 64px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
    &:hover {
        scale: 1.05;
        background: $primary;
        color: white;
        .priority hr {
            color: white;
            border: 1px solid white;
        }
    }
}

.priority {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    hr {
        width: 1px;
        border: 1px solid #D1D1D1;
        color: #D1D1D1;
        align-self: stretch;
    }
}

.prio_icon {
    width: 60px;
    height: 60px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    >img {
        width: 40px;
        height: 40px;
    }
}

.upcoming_deadline_date {
    p {
        font-size: 21px;
        font-weight: 700;
    }
    span {
        font-size: 16px;
    }
}

.overview_board_tasks {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.done {
    background: white;
    border-radius: 10px;
}

.bottom_row_overview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.tasks_in_board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 24px 48px;
    transition: all 150ms ease-in-out;
    >p {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
    }
    >span {
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        scale: 1.05;
        background: $primary;
        color: white;
    }
}

.tasks_in_progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 24px 48px;
    transition: all 150ms ease-in-out;
    >p {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
    }
    >span {
        font-size: 20px;
        text-align: center;
    }
    &:hover {
        scale: 1.05;
        background: $primary;
        color: white;
    }
}

.awaiting_feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 24px 48px;
    transition: all 150ms ease-in-out;
    >p {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
    }
    >span {
        font-size: 20px;
        text-align: center;
    }
    &:hover {
        scale: 1.1;
        background: $primary;
        color: white;
    }
}

.greeting_user {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    >p {
        font-size: 47px;
        font-weight: 500;
        line-height: 47px;
    }
    >span {
        font-size: 64px;
        font-weight: 700;
        color: $secondary;
        line-height: 64px;
    }
}

@media (max-width: 1450px) {
    .greeting_user {
        margin-left: 0;
    }

    .top_row_overview {
        width: 80%;
    }

    .top_row_window {
        padding: 8px 16px;
    }

    .middle_row_overview {
        width: 80%;
    }

    .bottom_row_overview {
        width: 80%;
        gap: 8px;
        .tasks_in_board {
            padding: 8px 20px;

        }
        .tasks_in_progress {
            padding: 8px 20px;

        }
        .awaiting_feedback {
            padding: 8px 20px;

        }
    }

    .prio_icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        >img {
            width: 30px;
            height: 30px;
        }
}
}

@media (max-width: 1100px) {
    .greeting_user {
        display: none;
    }

    .bottom_row_overview {
        width: 100%;
        .tasks_in_board {
            padding: 24px 48px;
            margin: 0 8px;
        }
        .tasks_in_progress {
            padding: 24px 48px;
            margin: 0 8px;
        }
        .awaiting_feedback {
            padding: 24px 48px;
            margin: 0 8px;
        }
    }

    .top_row_overview {
        width: 100%
    }

    .middle_row_overview {
        width: 100%;
    }

    .prio_icon {
    width: 60px;
    height: 60px;
    >img {
        width: 40px;
        height: 40px;
    }
}
}

@media (max-width: 936px) {
    section {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .section_header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        align-self: start;
        hr {
            width: 150px;
            height: 2px;
            border: 2px solid $secondary;
            position: absolute;
            top: 110px;
            left: -10px;
        }
    }

    

    .bottom_row_overview {
        .tasks_in_board {
            padding: 8px 12px;
        }
        .tasks_in_progress {
            padding: 8px 12px;
        } 
        .awaiting_feedback {
            padding: 8px 12px;   
        } 
    }
}

@media (max-width: 550px) {
    
    .to_do_number p{
        font-size: 47px;
    }

    .upcoming_deadline {
        padding: 8px 16px;
    }

    .tasks_in_board {
        p {
            font-size: 47px;
        }
        span {
            font-size: 16px;
        }
    }

    .tasks_in_progress  {
        p {
            font-size: 47px;
        }
        span {
            font-size: 16px;
        }
    }

    .awaiting_feedback {
        p {
            font-size: 47px;
        }
        span {
            font-size: 16px;
        }
    }
}

@media (max-width: 430px) {
    section {
        margin-left: 8px;
    }

    .prio_icon {
        display: none;
    }

    .top_row_overview {
        width: 300px;
    }

    .middle_row_overview {
        width: 300px;
    }

    .upcoming_deadline {
        width: 300px;
        padding: 8px 0;
    }
    
    .top_row_window .edit_icon{
        width: 50px;
        height: 50px;
    }

    .top_row_window .check_icon{
        width: 50px;
        height: 50px;
    }

     .bottom_row_overview .tasks_in_board {
        padding: 8px 8px;
    }

     .bottom_row_overview .tasks_in_progress  {
        padding: 8px 8px;
    }

     .bottom_row_overview .awaiting_feedback {
        padding: 8px 8px;
    }
}