@use 'variables' as *;

#add_contact {
    width: 1300px;
    height: 550px;
    display: flex;
    margin: 64px;
    border-radius: 32px;
    background-color: white;
}

#overlay_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    background-color: $primary;
    color: $white;
    flex: 1;
    border-radius: 28px 0 0 28px;

    >img {
        width: 55px;
        height: 66px;
    }

    >h2 {
        font-size: 61px;
        font-weight: 700;
        margin: 16px 0;
        line-height: 48px;
    }

    >p {
        font-size: 21px;
    }

    >hr {
        height: 0;
        width: 100px;
        border: 2px solid $secondary;
    }
}

#overlay_right {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#close_button {
    position: absolute;
    margin-top: 48px;
    margin-right: 48px;
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;

    >img {
        width: 24px;
        height: 24px;
    }
}

#contact_form_div {
    display: flex;
    flex-direction: column;
}

#profile_picture {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(209, 209, 209, 1);
}

#overlay_right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group {
    position: relative;

    >input {
        width: 422px;
        height: 50px;
        border-radius: 8px;
        padding-left: 16px;
        font-size: 20px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.input-group .input-icon {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

#form_buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

#submit_button {
    cursor: pointer;
    width: 214px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary;
    color: $white;
    font-size: 21px;
    font-weight: 700;
    border: none;
}

#cancel_button {
    cursor: pointer;
    width: 126px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 400;
    color: black;
    font-size: 21px;
    border-radius: 10px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_msg {
    color: $red;
}

@media (max-width: 1010px) {
    #overlay_right_content{
        gap: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 936px) {
    #add_contact {
        flex-direction: column;
        margin: 64px;
    }

    #cancel_button{
        display: none;
    }

    #overlay_left {
        justify-content: center;
        border-radius: 24px 24px 0 0;
        flex: none;
        height: 285px;
    }

    #add_contact {
        width: 1100px;
        height: 780px;
        display: flex;
        margin: 64px;
        border-radius: 32px;
        background-color: white;
    }

    .hide {
        display: none;
    }

    hr {
        position: relative;
    }

    #close_button {
        position: relative;
        top:-285px;
        margin-right: 24px;
        >img {
            filter: invert(1);
        }
    }

    #overlay_right_content {
        flex: none;
        flex-direction: column;
    }

    #profile_picture {
        position: relative;
        top: -140px;
        width: 125px;
        height: 125px;
        border: 3px solid white;
    }


    #contact_form_div{
        position: relative;
        top: -140px;
    }
    
}

@media(max-width:550px){
     #add_contact {
        margin: 32px;
    }
    #overlay_left{
        h2{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
        hr{
            left:0;
        }
    }
    #add_contact {
       margin: 32px;
    }
}

@media(max-width:400px){
    #contact_form_div{
        position: relative;
        top: -140px;
    }
    .input-group{
        >input{
            height: 40px;
        }
    }
    
    #profile_picture{
        top: -140px;
    }
    #close_button{
        position: relative;
        top:-230px;
        margin-right: 16px;
    }
    #add_contact{
        height: 666px;
    }
    #overlay_left{
        flex: none;
        height: 200px;
        justify-content: flex-start;
        h2{
            margin:0;
            margin-top: 32px;
        }
    }
}


@media(max-width:360px){
     #add_contact {
        margin: 16px;
    }
}