@use 'variables' as *;

#add_contact {
    width: 1300px;
    height: 550px;
    display: flex;
    margin: 64px;
    border-radius: 32px;
    background-color: white;
}

#overlay_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    background-color: $primary;
    color: $white;
    flex: 1;
    border-radius: 28px 0 0 28px;

    >img {
        width: 55px;
        height: 66px;
    }

    >h2 {
        font-size: 61px;
        font-weight: 700;
        margin: 16px 0;
    }

    >p {
        font-size: 21px;
    }

    >hr {
        height: 0;
        width: 100px;
        border: 2px solid $secondary;
    }
}

#overlay_right {
    display: flex;
    flex-direction: column;
    flex: 2
}

#close_button {
    position: absolute;
    margin-top: 48px;
    margin-right: 48px;
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;

    >img {
        width: 24px;
        height: 24px;
    }
}

#contact_form_div {
    display: flex;
    flex-direction: column;
}

#profile_picture {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(209, 209, 209, 1);
}

#overlay_right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group {
    position: relative;

    >input {
        width: 422px;
        height: 50px;
        border-radius: 8px;
        padding-left: 16px;
        font-size: 20px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.input-group .input-icon {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* adjust icon size */
  height: 20px;
  pointer-events: none; /* allows clicking inside input */
}

#form_buttons {
    display: flex;
    gap: 32px;
}

#submit_button {
    cursor: pointer;
    width: 214px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: $primary;
    color: $white;
    font-size: 21px;
    font-weight: 700;
    border: none;
}

#cancel_button {
    cursor: pointer;
    width: 126px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 400;
    color: black;
    font-size: 21px;
    border-radius: 10px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@media(max-width:936px) {
    #add_contact {
        flex-direction: column;
    }

    #overlay_left {
        justify-content: center;
        align-items: center;
    }

    .hide {
        display: none;
    }

    hr {
        position: relative;
        left: -85px;
    }
}