<section>
    <div id="max-width">
        <h1>Add Task</h1>
        <form id="add_task_form" (ngSubmit)="submitTask()">
            <div id="left_form">
                <div class="margin_bottom_16">
                    <p class="margin_bottom_8">Title<span>*</span></p>
                    <input #taskTitle="ngModel" name="title" placeholder="Enter a title" [(ngModel)]="newTask.title" required>
                    @if(taskTitle.invalid && taskTitle.touched) {
                        <div><span>This field is required</span></div>
                    }
                </div>

                <div class="margin_bottom_16">
                    <p class="margin_bottom_8">Description</p>
                    <textarea class="textarea_desciption" name="description" placeholder="Enter a description"
                        [(ngModel)]="newTask.description"></textarea>
                </div>

                <div class="margin_bottom_16">
                    <div class="datepicker">
                        <p class="margin_bottom_8">Due date<span>*</span></p>
                        <input matInput #taskDate="ngModel" name="taskDate"  [matDatepicker]="picker" placeholder="MM/DD/YYYY" [(ngModel)]="newTask.dueDate" required>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    @if(taskDate.invalid && taskDate.touched) {
                        <div><span>This field is required</span></div>
                    }
                </div>
            </div>
            <hr id="divider">
            <div id="right_form">
                <div id="priority">
                    <p class="margin_bottom_8">Priority</p>
                    <div class="prio_buttons">
                        <button
                            type="button"
                            (click)="setTaskPriority('Urgent')"
                            [ngClass]="{ 'urgent_active': newTask.priority === 'Urgent' }">
                            Urgent
                            <img [src]="getIcon('Urgent')" alt="Priority urgent">
                        </button>
                        <button
                            type="button"
                            (click)="setTaskPriority('Medium')"
                            [ngClass]="{ 'medium_active': newTask.priority === 'Medium' }">
                            Medium
                            <img [src]="getIcon('Medium')" alt="Priority medium">
                        </button>
                        <button
                            type="button"
                            (click)="setTaskPriority('Low')"
                            [ngClass]="{ 'low_active': newTask.priority === 'Low' }">
                            Low
                            <img [src]="getIcon('Low')" alt="Priority low">
                        </button>
                    </div>
                </div>

                <div class="assigned_worker">
                    <label class="margin_bottom_8" for="assignedWorker">Assigned to</label>
                    <input id="assigned_worker_input" class="margin_bottom_16" type="text" value="Select contacts to assign" readonly (click)="toggleDropdown(); $event.stopPropagation() ">
                    <img class="dropdown_icon" src="./assets/icons/arrow_drop_downaa.svg" alt="" (click)="toggleDropdown(); $event.stopPropagation()">
                    <div #assigned_dropdown id="assigned_dropdown"  [class.d_none]="!workerDropdown">
                        @for (contact of firebase.contactList; track $index) {
                            <div
                                class="single_contact_dd"
                                [class.selected]="isSelected(contact)"
                                (click)="toggleContact(contact)"
                            >
                                <div class="contacts_in_dropdown">
                                    <div class="initials" [style.background-color]="contact.color">{{ getInitials(contact.surname + ' ' + contact.lastname) }} </div>
                                    <p>{{ getShortName(contact.surname + ' ' + contact.lastname) }}</p>
                                </div>               
                                <img
                                class="checkbox-icon"
                                [src]="isSelected(contact) ? 'assets/icons/checkbox_checked.svg' : 'assets/icons/checkbox_unchecked.svg'"
                                alt="checkbox"
                                />
                            </div>
                        }
                    </div>
                    <div class="list_assigned">
                        @for (assignee of newTask.assignedTo; track newTask.id; let i = $index) {
                
                            @for (contact of this.firebase.contactList; track $index; let index = $index)
                            {
                                @if(i == assigneesInitialsCount && index == assigneesInitialsCount)
                                {
                                    +{{ newTask.assignedTo.length - assigneesInitialsCount }}
                                }
                                @else if(i < assigneesInitialsCount) 
                                { 
                                    @if(assignee==this.getFullName(contact.surname,contact.lastname)) 
                                    { 
                                        <div class="frame-initials">
                                        <span class="initials" [style.background-color]="contact.color">{{ getInitials(assignee)}}</span>
                                        </div>
                                    }
                                }

                            }
                        }
                        
                    </div>
                </div>

                <div class="task_category">
                    <p class="margin_bottom_8">Category<span>*</span></p>
                    <div #category_trigger class="select_display margin_bottom_16" (click)="categoryDropdown = !categoryDropdown; categoryTouched = true">
                        {{ newTask.taskCategory || 'Select category' }}
                        <img class="dropdown-icon" src="./assets/icons/arrow_drop_downaa.svg" alt="">
                    </div>                   
                    @if(categoryDropdown) {
                        <div class="select-dropdown" #category_dropdown (click)="$event.stopPropagation()">
                            <div class="option" (click)="selectCategory('User Story')">User Story</div>
                            <div class="option" (click)="selectCategory('Technical Task')">Technical Task</div>
                        </div>
                    }                   
                </div>
                @if(!newTask.taskCategory && categoryTouched) {
                        <div><span>This field is required</span></div>
                    }

                <div class="subtask">
                    <label for="Subtask">Subtask</label>
                    <input class="margin_bottom_16" id="subtask_input" name="Subtask" type="text" placeholder="Add new subtask" [(ngModel)]="subtaskInput">
                    
                    @if(subtaskInput) {
                        <div id="subtask_buttons">
                            <button type="button" (click)="clearSubtaskInput()"><img src="./assets/icons/subtask_clear.svg" alt=""></button>
                            <hr>
                            <button type="button" (click)="addSubtask()"><img src="./assets/icons/subtask_check.svg" alt=""></button>
                        </div>
                    }

                    <div class="subtask_list_container">
                        <ul>
                            @for (task of newTask.subTask; track task.id) {
                                <li class="subtask_item">
                                    @if (!editingState[task.id]) {
                                        <span>• {{ task.subDescription }}</span>
                                        <div class="sub_actions">
                                            <button type="button" (click)="startEdit(task.id)"><img src="./assets/icons/edit.svg" alt=""></button>
                                            <hr>
                                            <button type="button" (click)="deleteSubtask(task.id)"><img src="./assets/icons/delete.svg" alt=""></button>
                                        </div>
                                    }
                                    @if (editingState[task.id]) {
                                        <div class="editing_subtask">
                                            <input class="edit_input_window" name="edit" [(ngModel)]="task.subDescription" />
                                            <div class="edit_on_button">
                                                <button type="button" (click)="stopEdit(task.id)"><img src="./assets/icons/done.svg" alt=""></button>
                                                <hr>
                                                <button type="button" (click)="deleteSubtask(task.id)"><img src="./assets/icons/delete.svg" alt=""></button>
                                            </div>
                                        </div>    
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <div id="form_buttons">
            <p id="required_text"><span>*</span> This field is required</p>
            <div id="buttons_form_div">
                <button (click)="clearForm()" type="button" id="form_clear_button">Clear</button>
                <button id="form_submit_button" type="submit" form="add_task_form" [disabled]="!newTask.title || !newTask.dueDate || !newTask.taskCategory">Create Task <img src="./assets/icons/check.svg" alt=""></button>
            </div>
        </div>
        <div class="task_added_message" [class.show]="taskAdded">
            <p>Task added to board</p>
            <img src="./assets/icons/board.svg" alt="">
        </div>
    </div>

</section>