<section>
    <div id="max-width">
        <h1>Add Task</h1>
        <form id="add_task_form" (ngSubmit)="submitTask()">
            <div id="left_form">

                <p>Title<span>*</span></p>
                <input name="title" placeholder="Enter a title" [(ngModel)]="newTask.title">

                <p>Description</p>
                <textarea name="description" placeholder="Enter a description"
                    [(ngModel)]="newTask.description"></textarea>

                <p>Due date<span>*</span></p>
                <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>


            </div>
            <hr>
            <div id="right_form">
                <div id="priority">
                    <p>Priority</p>
                    <button
                        type="button"
                        (click)="setTaskPriority('Urgent')"
                        [ngClass]="{ 'urgent_active': newTask.priority === 'Urgent' }">
                        Urgent
                        <img [src]="getIcon('Urgent')" alt="Priority urgent">
                    </button>
                    <button
                        type="button"
                        (click)="setTaskPriority('Medium')"
                        [ngClass]="{ 'medium_active': newTask.priority === 'Medium' }">
                        Medium
                        <img [src]="getIcon('Medium')" alt="Priority medium">
                    </button>
                    <button
                        type="button"
                        (click)="setTaskPriority('Low')"
                        [ngClass]="{ 'low_active': newTask.priority === 'Low' }">
                        Low
                        <img [src]="getIcon('Low')" alt="Priority low">
                    </button>
                </div>

                <div class="input-wrapper">
                    <label for="assignedWorker">Assigned to</label>
                    <input type="text" value="Select contacts to assign" readonly (click)="toggleDropdown()">
                    <img class="dropdown_icon" src="./assets/icons/arrow_drop_downaa.svg" alt="">
                    <div id="assigned_dropdown"  [class.d_none]="!workerDropdown">
                        @for (contact of firebase.contactList; track $index) {
                            <div
                                class="single_contact_dd"
                                [class.selected]="isSelected(contact)"
                                (click)="toggleContact(contact)"
                            >
                                <p>{{ contact.surname }} {{ contact.lastname }}</p>

                                <img
                                class="checkbox-icon"
                                [src]="isSelected(contact) ? 'assets/icons/checkbox_checked.svg' : 'assets/icons/checkbox_unchecked.svg'"
                                alt="checkbox"
                                />
                            </div>
                        }
                    </div>
                </div>

                <div class="task_category">
                    <div class="select_display" (click)="categoryDropdown = !categoryDropdown">
                        {{ newTask.taskCategory || 'Select category' }}
                        <img class="dropdown-icon" src="./assets/icons/arrow_drop_downaa.svg" alt="">
                    </div>
                    @if(categoryDropdown) {
                        <div class="select-dropdown">
                            <div class="option" (click)="selectCategory('User Story')">User Story</div>
                            <div class="option" (click)="selectCategory('Technical Task')">Technical Task</div>
                        </div>
                    }
                </div>

                <label for="Subtask">Subtask</label>
                <input name="Subtask" type="text" placeholder="Add new subtask" [(ngModel)]="subtaskInput">
                @if(subtaskInput) {
                    <div id="subtask_buttons">
                        <button type = button (click)="clearSubtaskInput()"><img src="./assets/icons/subtask_clear.svg" alt=""></button>
                        <button type = button (click)="addSubtask()"><img src="./assets/icons/subtask_check.svg" alt=""></button>
                    </div>
                }

                @for (task of newTask.subTask; track task.id) {
                    <li class="subtask_item">

                        @if (!editingState[task.id]) {
                        <span> • {{ task.subDescription }}</span>

                        <div class="sub_actions">
                            <button type=button (click)="startEdit(task.id)"><img src="./assets/icons/edit.svg" alt=""></button>
                            <hr>
                            <button type=button (click)="deleteSubtask(task.id)"><img src="./assets/icons/delete.svg" alt=""></button>
                        </div>
                        }

                        @if (editingState[task.id]) {
                        <input class="edit_input_window" name=edit [(ngModel)]="task.subDescription" />

                        <button type=button (click)="stopEdit(task.id)"><img src="./assets/icons/done.svg" alt=""></button>
                        <hr>
                        <button type=button (click)="deleteSubtask(task.id)"><img src="./assets/icons/delete.svg" alt=""></button>
                        }
                    </li>
                }
            </div>
        </form>
        <div id="form_buttons">
            <button type="button">Clear</button>
            <button type="submit" form="add_task_form">Create Task</button>
        </div>
    </div>

</section>