section {
    margin-top: 96px;
    margin-left: clamp(180px, 16.1vw, 232px);
    background-color: #F6F7F8;
    min-height: calc(100vh - 152px);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#max-width {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 32px 0;
}

span {
    color: #FF8190;
}

form {
    display: flex;
    gap: 32px;
}

mat-form-field {
    height: 100px;
}

input {
    margin-bottom: 16px;
    width: 440px;
    height: 48px;
    border-radius: 10px;
    padding-left: 8px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

textarea {
    margin-bottom: 16px;
    width: 440px;
    height: 136px;
    border-radius: 10px;
    padding-left: 8px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

#left_form {
    display: flex;
    flex-direction: column;
}

#right_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > li {
        margin-left: 28px;
    }
}

#priority button {
    padding: 8px 16px;
    margin: 8px 16px;
}

#form_buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;
}

#dateIcon {
    position: relative;
    left: 90%;
    top: -13.5%;
}

.dropdown_icon {
    width: 24px;
    position: relative;
    left: 90%;
    top: -11%;
    border-radius: 100px;
    &:hover {
        background: #D1D1D1;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#assigned_dropdown {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #D1D1D1;
    z-index: 10;
    overflow-y: scroll;
}



.single_contact_dd {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 12px;
    >.checkbox {
        width: 24px;
        height: 24px;
        align-self: flex-end;
        padding-right: 4px;
    }
}

.d_none {
    display: none;
}