@use 'variables' as *;

.header {
  background-color: $white;
  color: $black;
  height: 96px;
  padding: 0;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: clamp(180px, 16.1vw, 232px);
  width: calc(100vw - clamp(180px, 16.1vw, 232px));
  height: 96px;
  z-index: 100;
  margin-bottom: 80px;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: calc(1920px - clamp(180px, 16.1vw, 232px));
    margin: 0;
    padding: 0 40px 0 116px;
  }

  .img_logo_responsive {
    display: none;
  }

  .title {
    font-size: 20px;
  }
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;

  .btn_help {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url('/assets/img/help.png') no-repeat center;
    background-size: contain;

    &:hover {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    &.hidden {
      display: none;
    }
  }

  .link_initials {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid $primary;
    color: $secondary;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $greyish;
    }

    &.active {
      background-color: $greyish;
    }
  }

  .open_burger_menu {
    position: absolute;
    top: 76px;
    right: 0px;
    background-color: $primary;
    color: $nav-button;
    z-index: 100;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    .btn_menu {
      border: none;
      text-align: left;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      color: $nav-button;
      padding: 13.5px 19px;
      border-radius: 8px;
      width: 100%;
      height: 46px;
      border-radius: 8px;
      cursor: pointer !important;

      &:hover {
        background-color: $menu-button-hover;
        cursor: pointer !important;
      }
    }
  }
}

@media (max-width: 936px) {
  .header {
    height: 72px;
    padding: 0 16px;
    width: 100vw;
    left: 0;
    z-index: 5;
    padding-right: 40px;

    .title {
      display: none;
    }

    .logo_responsive {
      display: block;
    }

    .img_logo_responsive {
      display: block;
      width: 32px;
      height: 39.02px;
    }

    .header_container {
      padding: 0;
    }
  }

  .link_initials {
    position: relative;
    z-index: 200;
  }

  .btn_help {
    display: none;
  }

  .open_burger_menu {
    z-index: 150;
  }
}
