section {
    display: flex;
}

#contact_content {
    display: flex;
}

#contact_details {
    display: flex;
}

app-contact-details {
    flex: 1;
}

//TODO- has to be over header and footer
app-contact-list {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.1);
}

app-add-contact-overlay {
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

app-add-contact-overlay.show {
    transform: translateX(0);
    opacity: 1;
}

app-add-contact-overlay.hide {
    transform: translateX(100vw);
    opacity: 0;
}

.black {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    transition: all 175ms ease-in-out;
}

.black.show {
    opacity: 1;
    display: flex;
    z-index: 100;
}

.black.hide {
    opacity: 0;
    display: none;
    z-index: 100;
}