@use 'variables' as *;

section {
    display: flex;
}

#contact_content {
    display: flex;
}

#contact_details {
    display: flex;
}

app-contact-details {
    flex: 1;
}

app-contact-list {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.1);
}

app-add-contact-overlay {
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 101;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

app-add-contact-overlay.show {
    transform: translateX(0);
    opacity: 1;
}

app-add-contact-overlay.hide {
    transform: translateX(100vw);
    opacity: 0;
}

.black {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    transition: all 175ms ease-in-out;
}

.black.show {
    display: flex;
    opacity: 1;
    z-index: 100;
}

.black.hide {
    display: none;
    opacity: 0;
    z-index: 100;
}

.message {
    position: fixed;
    bottom: 100px;
    right: -350px;
    width: 50%;
    max-width: 300px;
    height: 100px;
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 24px;
    opacity: 0;
    transition: all 1500ms ease-in-out;
}

.message.show {
    animation: slideInOut 3s ease forwards;
}

@keyframes slideInOut{
    0% {
        display: flex;
        right: -350px;
        opacity: 0;
    }
    20% {
        display: flex;
        right: 0px;
        opacity: 1;
    }
    80% {
        display: flex;
        right: 0px;
        opacity: 1;
    }
    100% {
        display: flex;
        right: -350px;
        opacity: 0;
    }
}

@media (max-width: 700px) {

    app-contact-list {
        width: 100%;
    }
}