section {
    display: flex;
}

#contact_content {
    display: flex;
}

#contact_details {
    display: flex;
}

app-contact-details {
    flex: 1;
}

app-contact-list {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.1);
}

app-add-contact-overlay{
    position: fixed;
    opacity: 0;
    transition: all 175ms ease-in-out;
}

app-add-contact-overlay.show{
   transform: translateX(0);
    opacity: 1;
}

app-add-contact-overlay.hide{
    transform: translateX(100vw);
    opacity: 0;
}